@font-face {
    font-family: 'nyt-cheltenham';
    src: url('/fonts/cheltenham-italic-700.woff2') format('woff2');
    font-style: italic;
    font-weight: 700;
  }

@font-face {
  font-family: 'nyt-cheltenham';
  src: url('/fonts/cheltenham-normal-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
    font-family: 'nyt-cheltenham-small';
    src: url('/fonts/cheltenham-small-normal-400.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'nyt-franklin';
    src: url('/fonts/franklin-normal-300.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'nyt-franklin';
    src: url('/fonts/franklin-normal-500.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'nyt-franklin';
    src: url('/fonts/franklin-normal-600.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'nyt-franklin';
    src: url('/fonts/franklin-normal-700.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'nyt-imperial';
    src: url('/fonts/imperial-normal-400.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*----------end of reset rules --------------*/

html {
    width: 100%;
    height: auto;
    background-color: #f7f7f7;;
}

.cheltenham {
    font-family: "nyt-cheltenham";
}

.cheltenham-small {
    font-family: "nyt-cheltenham-small";
}

.franklin {
    font-family: "nyt-franklin";
}

.imperial {
    font-family: "nyt-imperial";
}

.size-16 {
    font-size: 16px;
}

* {
  color: black;
}

a {
  text-decoration: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.jumbo{
  width: 945px;
}

.m-0a {
  margin: 0 auto;
}

header {
    width: 100%;
    height: 42px;
    background-color: #ffffff;
    position: fixed;
    border-bottom: 1px solid #e2e2e2;
    padding: 4px 15px 2px 15px;
}

header div{
    display: inline;
}

header div span {
    font-weight: 400;
    font-size: 16px;
}

header div span a {
    font-family: nyt-franklin;
    font-size: 14.25px;
    font-weight: 700;
}

header div span button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 8px 9px 9px 9px;
}

header div span button img {
    height: 20px;
    width: auto;
}

#top-logo {
    width: 195px;
    height: 26.5px;
    padding-left: 25%;
}

header div button {
    border: solid black 1px;
}

main {
    padding-top: 60px;
}

#main-title {
    font-family: "nyt-cheltenham";
    font-weight: 700;
    font-size: 40px;
    font-style: italic;
    font-stretch: 100%;
    line-height: 3rem;
}

#img-1-cap-1 {
    color: #666;
    font-family: "nyt-imperial";
    font-size: 15px;
    display: inline-block;
}

#img-1-cap-2 {
    color: #666;
    font-family:"nyt-imperial";
    font-size: 13px;
    display: inline-block;
}

#inflation-img {
  max-width: 975px;
  margin: 0 203px;
}



.aside-picks img, #paid-post img{
  width: 75px;
}

.card {
  width: 272px;
}
.inline li {
  display: inline;
}

footer a {
  color: rgb(153, 153, 153);
}